In [1]:
#import statements
import pandas as pd
import requests
import numpy as np
import tweepy
import json

# Gather

In [2]:
#read twitter archive csv file
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [3]:
len(twitter_archive)//100

23

In [4]:
#read tsv file with image predictions, column values separated with tab
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
with open('image_predictions.tsv', 'wb') as file:
    file.write(response.content)
    
image_predictions  = pd.read_csv('image_predictions.tsv', sep='\t')
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [5]:
#Create an api object to gather the data
consumer_key = '785oYh49P1K3Pzvyei7tTe5mq'
consumer_secret = 'WRA3Bg0AILDb2HcPqdrFcIuj8R4yc6HF1jRXMPNVgKqCWQo9Z4'
access_token = '875974316-AhyMOC0JI2r1cvIRmRGGAiL7CweLnufMbO8A52Cj'
access_secret = 'LAcVDedtfVFesDFBkJ4zdzNe2EVi2jXMg8x7aofmTNFMM'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
# Go through CSV, row by row and get Id from row and then make API call
# Try to make the Api call in 1 bulk or few bulk calls 
tweet_ID = ['666020888022790149','666029285002620928']
tweet_json = api.statuses_lookup(tweet_ID)
# Write tweet_json into a file, append to end of file as a new line (Step 3)
print(tweet_json)

[{'created_at': 'Sun Nov 15 22:32:08 +0000 2015', 'id': 666020888022790149, 'id_str': '666020888022790149', 'text': 'Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj', 'truncated': False, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 666020881337073664, 'id_str': '666020881337073664', 'indices': [108, 131], 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'url': 'https://t.co/BLDqew2Ijj', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}, 'extended_entities': {'media': [{'id': 666020881337073664, 'id_str': '666020881337073664', 'indices': [108, 131], 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'url': 'https://t.co/BLDqew2Ijj', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 4196983835, 'id_str': '4196983835', 'name': 'WeRateDogs®', 'screen_name': 'dog_rates', 'location': 'links and things ➜', 'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➜ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀', 'url': 'https://t.co/hADNnRWmP3', 'entities': {'url': {'urls': [{'url': 'https://t.co/hADNnRWmP3', 'expanded_url': 'http://campsite.bio/weratedogs', 'display_url': 'campsite.bio/weratedogs', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 9017132, 'friends_count': 18, 'listed_count': 6603, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'favourites_count': 145357, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 13777, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1351720980972933122/I3MnYUdm_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1351720980972933122/I3MnYUdm_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1617810473', 'profile_link_color': 'F5ABB5', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 441, 'favorite_count': 2335, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'lang': 'en'}, {'created_at': 'Sun Nov 15 23:05:30 +0000 2015', 'id': 666029285002620928, 'id_str': '666029285002620928', 'text': 'This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI', 'truncated': False, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 666029276303482880, 'id_str': '666029276303482880', 'indices': [116, 139], 'media_url': 'http://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg', 'url': 'https://t.co/r7mOb2m0UI', 'display_url': 'pic.twitter.com/r7mOb2m0UI', 'expanded_url': 'https://twitter.com/dog_rates/status/666029285002620928/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}, 'extended_entities': {'media': [{'id': 666029276303482880, 'id_str': '666029276303482880', 'indices': [116, 139], 'media_url': 'http://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg', 'url': 'https://t.co/r7mOb2m0UI', 'display_url': 'pic.twitter.com/r7mOb2m0UI', 'expanded_url': 'https://twitter.com/dog_rates/status/666029285002620928/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 4196983835, 'id_str': '4196983835', 'name': 'WeRateDogs®', 'screen_name': 'dog_rates', 'location': 'links and things ➜', 'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➜ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀', 'url': 'https://t.co/hADNnRWmP3', 'entities': {'url': {'urls': [{'url': 'https://t.co/hADNnRWmP3', 'expanded_url': 'http://campsite.bio/weratedogs', 'display_url': 'campsite.bio/weratedogs', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 9017132, 'friends_count': 18, 'listed_count': 6603, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'favourites_count': 145357, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 13777, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1351720980972933122/I3MnYUdm_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1351720980972933122/I3MnYUdm_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1617810473', 'profile_link_color': 'F5ABB5', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 41, 'favorite_count': 117, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'lang': 'en'}]

In [6]:
favorite_count = []
retweet_count = []
for tweet in tweet_json:
    favorite_count.append(tweet['favorite_count'])
    retweet_count.append(tweet['retweet_count'])

In [7]:
tweet_df = pd.DataFrame({
    'tweet_ID': tweet_ID,
    'favorite_count': favorite_count,
    'retweet_count': retweet_count
})
tweet_df

             tweet_ID  favorite_count  retweet_count
0  666020888022790149            2335            441
1  666029285002620928             117             41

In [8]:
tweet_df = pd.DataFrame(
    columns=['tweet_ID', 'favorite_count', 'retweet_count']
)
# Go through CSV, row by row and get Id from row and then make API call
# Try to make the Api call in 1 bulk or few bulk calls 
for i in range(len(twitter_archive)//80):
    tweet_ID = list(twitter_archive.loc[i*80:(i+1)*80,'tweet_id'].astype(str))
    tweet_json = api.statuses_lookup(tweet_ID)
    favorite_count = []
    retweet_count = []
    ids = [] 
    # Write tweet_json into a file, append to end of file as a new line
    for tweet in tweet_json:
        favorite_count.append(tweet['favorite_count'])
        retweet_count.append(tweet['retweet_count'])
        ids.append(tweet['id'])
    tweet_df = pd.concat([tweet_df,pd.DataFrame({
        'tweet_ID': ids,
        'favorite_count': favorite_count,
        'retweet_count': retweet_count
        
    })],ignore_index=True)
tweet_df

                tweet_ID favorite_count retweet_count
0     886366144734445568          19114          2741
1     877611172832227328              0            70
2     888078434458587136          19728          3012
3     891689557279858688          38104          7498
4     879492040517615616          21313          2752
5     878604707211726852          27229          6153
6     879674319642796034            286            10
7     884876753390489601          25163          4842
8     882992080364220416          21635          3354
9     889880896479866881          25277          4316
10    885518971528720385          18539          3229
11    879862464715927552          20295          3033
12    877556246731214848          20563          3294
13    890971913173991426          10687          1742
14    890006608113172480          27807          6366
15    880935762899988482          15502          2430
16    891815181378084864          22711          3595
17    886267009285017600            106             3
18    889278841981685760          22779          4617
19    879415818425184262          95713         38806
20    882268110199369728          40474         10049
21    880465832366813184          25755          5409
22    887101392804085760          27767          5172
23    884162670584377345          18478          2597
24    879376492567855104          15289          2730
25    885528943205470208          32532          5544
26    878776093423087618          17613          3577
27    880872448815771648          19286          3319
28    885984800019947520          29479          5828
29    881633300179243008            113             8
...                  ...            ...           ...
2294  667902449697558528            790           348
2295  667044094246576128            172            44
2296  667801013445750784            294            84
2297  667200525029539841            567           237
2298  667544320556335104            785           480
2299  666786068205871104            681           429
2300  667724302356258817            441           285
2301  667915453470232577            193            50
2302  666826780179869698            232            81
2303  666804364988780544            212            79
2304  667885044254572545            761           424
2305  666817836334096384            462           225
2306  667806454573760512            970           445
2307  667878741721415682            364           106
2308  667176164155375616            551           407
2309  666644823164719104            215            73
2310  666649482315059201           1015           557
2311  667405339315146752            429           203
2312  667793409583771648            637           302
2313  667550904950915073              0            29
2314  667369227918143488            336           150
2315  667728196545200128            339           137
2316  666437273139982337            110            41
2317  667090893657276420            303           111
2318  667070482143944705             75            13
2319  667435689202614272            282            79
2320  667509364010450944           6272          1926
2321  666835007768551424            190            70
2322  667119796878725120            300           117
2323  667538891197542400            186            59

[2324 rows x 3 columns]

## Gather Summary
- Obtained twitter archive csv
- Downloaded image_predictions.tsv using requests
- Queried Twitter API data using Tweepy

# Assess

In [9]:
#Assess twitter
twitter_archive.info()
twitter_archive.head()
twitter_archive['rating_denominator'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [10]:
#assess image predictions
image_predictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [11]:
#assess image predictions
image_predictions.info()
image_predictions.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [12]:
#Assess tweet_df
tweet_df.info()
tweet_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2324 entries, 0 to 2323
Data columns (total 3 columns):
tweet_ID          2324 non-null object
favorite_count    2324 non-null object
retweet_count     2324 non-null object
dtypes: object(3)
memory usage: 54.5+ KB

             tweet_ID favorite_count retweet_count
0  886366144734445568          19114          2741
1  877611172832227328              0            70
2  888078434458587136          19728          3012
3  891689557279858688          38104          7498
4  879492040517615616          21313          2752

## Quality
- in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls are all incomplete
- rating_denominator has values that are different from 10
- Some tweets in image_predictions have no image
- Some of the names
- duplicated jpg urls with different tweet ids
- The timestamp column is in string format.
- The retweets in twitter_archive should be deleted
- Some of the images are pictures of animals that are not dogs

##  Tidiness
- In twitter_archive doggo, floofer, pupper, and puppo should be combined into one column called stage
- In twitter_archive rating_denominator and rating_numerator can combine
- All 3 tables should merge

# Clean

In [13]:
#taking a copy from all 3 dataframes
twitter_archive_clean = twitter_archive.copy()
image_predictions_clean = image_predictions.copy()
tweet_df_clean = tweet_df.copy()

In [15]:
#Make tweet_ids for all 3 DataFrames into strings
twitter_archive['tweet_id'] = twitter_archive['tweet_id'].astype(str)
twitter_archive['tweet_id'] = twitter_archive['tweet_id'].astype(str).str.replace('/',' ')
twitter_archive['tweet_id']

0       892420643555336193
1       892177421306343426
2       891815181378084864
3       891689557279858688
4       891327558926688256
5       891087950875897856
6       890971913173991426
7       890729181411237888
8       890609185150312448
9       890240255349198849
10      890006608113172480
11      889880896479866881
12      889665388333682689
13      889638837579907072
14      889531135344209921
15      889278841981685760
16      888917238123831296
17      888804989199671297
18      888554962724278272
19      888202515573088257
20      888078434458587136
21      887705289381826560
22      887517139158093824
23      887473957103951883
24      887343217045368832
25      887101392804085760
26      886983233522544640
27      886736880519319552
28      886680336477933568
29      886366144734445568
               ...
2326    666411507551481857
2327    666407126856765440
2328    666396247373291520
2329    666373753744588802
2330    666362758909284353
2331    666353288456101888
2332    666345417576210432
2333    666337882303524864
2334    666293911632134144
2335    666287406224695296
2336    666273097616637952
2337    666268910803644416
2338    666104133288665088
2339    666102155909144576
2340    666099513787052032
2341    666094000022159362
2342    666082916733198337
2343    666073100786774016
2344    666071193221509120
2345    666063827256086533
2346    666058600524156928
2347    666057090499244032
2348    666055525042405380
2349    666051853826850816
2350    666050758794694657
2351    666049248165822465
2352    666044226329800704
2353    666033412701032449
2354    666029285002620928
2355    666020888022790149
Name: tweet_id, Length: 2356, dtype: object

In [16]:
image_predictions['tweet_id'] = image_predictions['tweet_id'].astype(str)
image_predictions['tweet_id'] = image_predictions['tweet_id'].astype(str).str.replace('/',' ')
image_predictions['tweet_id']

0       666020888022790149
1       666029285002620928
2       666033412701032449
3       666044226329800704
4       666049248165822465
5       666050758794694657
6       666051853826850816
7       666055525042405380
8       666057090499244032
9       666058600524156928
10      666063827256086533
11      666071193221509120
12      666073100786774016
13      666082916733198337
14      666094000022159362
15      666099513787052032
16      666102155909144576
17      666104133288665088
18      666268910803644416
19      666273097616637952
20      666287406224695296
21      666293911632134144
22      666337882303524864
23      666345417576210432
24      666353288456101888
25      666362758909284353
26      666373753744588802
27      666396247373291520
28      666407126856765440
29      666411507551481857
               ...
2045    886366144734445568
2046    886680336477933568
2047    886736880519319552
2048    886983233522544640
2049    887101392804085760
2050    887343217045368832
2051    887473957103951883
2052    887517139158093824
2053    887705289381826560
2054    888078434458587136
2055    888202515573088257
2056    888554962724278272
2057    888804989199671297
2058    888917238123831296
2059    889278841981685760
2060    889531135344209921
2061    889638837579907072
2062    889665388333682689
2063    889880896479866881
2064    890006608113172480
2065    890240255349198849
2066    890609185150312448
2067    890729181411237888
2068    890971913173991426
2069    891087950875897856
2070    891327558926688256
2071    891689557279858688
2072    891815181378084864
2073    892177421306343426
2074    892420643555336193
Name: tweet_id, Length: 2075, dtype: object

In [17]:
#rename tweet_ID to tweet_id
tweet_df = tweet_df.rename(columns={"tweet_ID": "tweet_id"})
tweet_df.head()

             tweet_id favorite_count retweet_count
0  886366144734445568          19114          2741
1  877611172832227328              0            70
2  888078434458587136          19728          3012
3  891689557279858688          38104          7498
4  879492040517615616          21313          2752

In [18]:
tweet_df['tweet_id'] = tweet_df['tweet_id'].astype(str)
tweet_df['tweet_id'] = tweet_df['tweet_id'].astype(str).str.replace('/',' ')
tweet_df['tweet_id']

0       886366144734445568
1       877611172832227328
2       888078434458587136
3       891689557279858688
4       879492040517615616
5       878604707211726852
6       879674319642796034
7       884876753390489601
8       882992080364220416
9       889880896479866881
10      885518971528720385
11      879862464715927552
12      877556246731214848
13      890971913173991426
14      890006608113172480
15      880935762899988482
16      891815181378084864
17      886267009285017600
18      889278841981685760
19      879415818425184262
20      882268110199369728
21      880465832366813184
22      887101392804085760
23      884162670584377345
24      879376492567855104
25      885528943205470208
26      878776093423087618
27      880872448815771648
28      885984800019947520
29      881633300179243008
               ...
2294    667902449697558528
2295    667044094246576128
2296    667801013445750784
2297    667200525029539841
2298    667544320556335104
2299    666786068205871104
2300    667724302356258817
2301    667915453470232577
2302    666826780179869698
2303    666804364988780544
2304    667885044254572545
2305    666817836334096384
2306    667806454573760512
2307    667878741721415682
2308    667176164155375616
2309    666644823164719104
2310    666649482315059201
2311    667405339315146752
2312    667793409583771648
2313    667550904950915073
2314    667369227918143488
2315    667728196545200128
2316    666437273139982337
2317    667090893657276420
2318    667070482143944705
2319    667435689202614272
2320    667509364010450944
2321    666835007768551424
2322    667119796878725120
2323    667538891197542400
Name: tweet_id, Length: 2324, dtype: object

In [19]:
#Create a dataframe to merge twitter_archive_clean and image_predictions
Arch_IMG = pd.merge(twitter_archive_clean, image_predictions_clean, how = 'left', on = ['tweet_id'])
Arch_IMG.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,1.0,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,1.0,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,1.0,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,2.0,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True

In [21]:
df_master = pd.merge(Arch_IMG, tweet_df_clean, on='tweet_id',
                     how = 'left')
df_master = df_master.drop_duplicates()
df_master

KeyError: 'tweet_id'